@import "src/assets/scss/variables/colours";
@import "src/assets/scss/variables/dimensions";
@import "~@angular/material/theming";
@include mat-core();

html {
    height: 100%;
}

::-webkit-scrollbar {
    width: $scrollbar-width;

    border-radius: $scrollbar-border-radius;
}

::-webkit-scrollbar-track {
    background: $primary-background-colour;

    border-radius: $scrollbar-border-radius;
}

::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb-colour;

    border-radius: $scrollbar-border-radius;
}

::-webkit-scrollbar-thumb:hover {
    background: $scrollbar-thumb-hover-colour;
}

body {
    height: 100%;

    color: $primary-foreground-colour;

    margin: 0;

    font-family: Arial, Helvetica, sans-serif;

    p {
        margin: 0;
    }

    a {
        color: $tertiary-foreground-colour;

        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .app-icon {
        background-image: url("assets/img/logos/app/logo.png");
        background-size: cover;

        &.white {
            background-image: url("assets/img/logos/app/logo-white.png");
        }
    }

    .icon {
        background-size: contain;
    }

    .loading-icon {
        background-image: url("assets/svg/loading.svg");

        &.primary-foreground {
            background-image: url("assets/svg/loading-primary-foreground.svg");
        }
    }

    .check-icon {
        background-image: url("assets/svg/check.svg");
    }

    .x-icon {
        background-image: url("assets/svg/x.svg");
    }

    .clipboard-icon {
        background-image: url("assets/svg/clipboard.svg");
    }

    .invite-icon {
        background-image: url("assets/svg/invite.svg");
    }

    .button {
        color: $primary-foreground-colour;
        background-image: linear-gradient(
            to left,
            $secondary-foreground-colour-hover 50%,
            $secondary-foreground-colour 50%
        );
        background-size: 200% 100%;

        margin-bottom: 25px;

        border-radius: $primary-border-radius;

        -webkit-transition: background-position 0.5s ease-in-out;
        -moz-transition: background-position 0.5s ease-in-out;
        transition: background-position 0.5s ease-in-out;

        user-select: none;

        cursor: pointer;

        &:hover {
            background-position: -100% 0;
        }
    }

    .divider {
        background-color: $tertiary-foreground-colour;
    }

    .cdk-overlay-dark-backdrop {
        background: rgba(0, 0, 0, 0.85) !important;
    }

    mat-dialog-container {
        background-color: $primary-background-colour !important;
    }
}

@media (min-width: 1920px) {
    body {
        .cdk-overlay-container {
            left: 375px;
            right: 0;

            .cdk-global-overlay-wrapper {
                width: calc(100% - #{$nav-bar-width-desktop}) !important;

                .cdk-overlay-pane {
                    position: absolute !important;
                    top: 150px;
                    margin: 0 auto;
                }
            }
        }
    }
}
