<div class="group-suggestion-container" (click)="groupSuggestionClicked()">
    <p class="group-suggestion-added-date">{{ groupSuggestion.createdOn | date: 'EEEE dd MMMM yyyy'}}</p>
    <div class="group-suggestion-data-container">
        <div class="album-container">
            <div app-album-icon [album]="groupSuggestion.album" [enabled]="false"></div>
        </div>
        <div class="rating-container">
            <app-group-suggestion-rating [rating]="groupSuggestion.rating"></app-group-suggestion-rating>
        </div>
    </div>
    <div class="open-icon"></div>
</div>