@import "src/assets/scss/variables/colours";

$group-suggestion-container-padding: 0;

$date-header-padding-left: 15px;
$date-header-padding-top: 10px;
$date-header-height: calc(18px + #{$date-header-padding-top});

$group-suggestion-data-container-height: 185px;

.group-suggestion-container {
    padding: $group-suggestion-container-padding;

    border-bottom: 2px solid $tertiary-foreground-colour;

    display: flex;
    flex-direction: column;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: pointer;

    &:hover {
        background-color: $primary-background-colour-hover;
    }

    .group-suggestion-added-date {
        height: $date-header-height;

        color: $tertiary-foreground-colour;

        padding: $date-header-padding-top 0 0 $date-header-padding-left;

        font-size: 1.2em;
    }

    .group-suggestion-data-container {
        display: flex;
        flex-direction: column;

        .album-container,
        .rating-container {
            width: 100%;
        }
    }
}

@media (min-width: 1367px) {
    .group-suggestion-container {
        .group-suggestion-data-container {
            flex-direction: row;

            .album-container,
            .rating-container {
                width: 50%;
            }
        }
    }
}
