# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/shufl-web/dist
/shufl-web/tmp
/shufl-web/out-tsc
# Only exists if Bazel was run
/shufl-web/bazel-out

# dependencies
/shufl-web/node_modules

# profiling files
/shufl-webchrome-profiler-events*.json
/shufl-webspeed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/shufl-web/.sass-cache
/shufl-web/connect.lock
/shufl-web/coverage
/shufl-web/libpeerconnection.log
/shufl-web/npm-debug.log
/shufl-web/yarn-error.log
/shufl-web/testem.log
/shufl-web/typings

# System Files
.DS_Store
Thumbs.db
