<div class="user-form-card" *ngIf="isRequesting">
    <div class="user-form-container">
        <div class="password-reset-request-form-container" *ngIf="!resetRequestSentSuccessfully">
            <form #passwordResetRequestForm="ngForm" (ngSubmit)="passwordResetRequestAsync(passwordResetRequestForm.value)">
                <div class="form-group" [ngClass]="{'active': emailActive, 'populated': emailPopulated, 'has-error': (!email.valid && email.touched)}">
                    <div class="input-container">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" #email="ngModel" name="email" required minlength="4" 
                            (focus)="changeInputState(email, true)"
                            (blur)="changeInputState(email, false)"
                            (ngModelChange)="emailChanged(email.value)" ngModel email>
                    </div>
                    <small class="warning-label" [ngClass]="{'visible': !email.valid && email.touched}">{{ emailErrorMessage }}</small>
                </div>
    
                <app-loading-button [buttonText]="'Request Password Reset'" [isLoading]="isLoading" [isDisabled]="!passwordResetRequestForm.valid"></app-loading-button>
            </form>
            <p class="form-error" [ngClass]="{'visible': formErrorMessageVisible}">An unexpected error occurred, please try again</p>
        </div>
        <div class="message-container positive-message" *ngIf="resetRequestSentSuccessfully">
            <div class="check-icon icon"></div>
            <h2>An email has been sent to the provided email address</h2>
        </div>
    </div>
</div>

<div class="user-form-card" *ngIf="!isRequesting">
    <div class="user-form-container">
        <div class="password-reset-set-form-container" *ngIf="isResetTokenValid && !passwordResetSuccessfully">
            <form #passwordResetSetForm="ngForm" (ngSubmit)="passwordResetSetAsync(passwordResetSetForm.value)">
                <div class="form-group" [ngClass]="{'active': passwordActive, 'populated': passwordPopulated, 'has-error': !password.valid && password.touched}">
                    <div class="input-container">
                        <label for="password">Password</label>
                        <input type="text" class="form-control" id="password" #password="ngModel" name="password" type="password" required minlength="8"
                            (focus)="changeInputState(password, true)"
                            (blur)="changeInputState(password, false)"
                            (ngModelChange)="checkPasswordsMatch(password)" ngModel>
                    </div>
                    <small class="warning-label" [ngClass]="{'visible': !password.valid && password.touched}">Password must be at least 8 characters</small>
                </div>
    
                <div class="form-group" [ngClass]="{'active': confirmPasswordActive, 'populated': confirmPasswordPopulated, 'has-error': !passwordsMatch && confirmPassword.touched}">
                    <div class="input-container">
                        <label for="last-name">Confirm Password</label>
                        <input type="text" class="form-control" id="confirm-password" #confirmPassword="ngModel" name="confirm-password" type="password" required
                            (focus)="changeInputState(confirmPassword, true)"
                            (blur)="changeInputState(confirmPassword, false)"
                            (ngModelChange)="checkPasswordsMatch(confirmPassword)" ngModel>
                    </div>
                    <small class="warning-label" [ngClass]="{'visible': !passwordsMatch}">Passwords must match</small>
                </div>
    
                <app-loading-button [buttonText]="'Set New Password'" [isLoading]="isLoading" [isDisabled]="!passwordResetSetForm.valid || !passwordsMatch"></app-loading-button>
            </form>
            <p class="form-error" [ngClass]="{'visible': formErrorMessageVisible}">An unexpected error occurred, please try again</p>
        </div>
        
        <div class="message-container positive-message" *ngIf="passwordResetSuccessfully">
            <div class="check-icon icon"></div>
            <h2>Your password has been changed successfully, you will now be directed to the login page</h2>
        </div>
        
        <div class="message-container negative-message" *ngIf="!isResetTokenValid">
            <div class="x-icon icon"></div>
            <h2>This password reset link is invalid</h2>
            <app-button [buttonText]="'Request a new link'" (click)="requestNewLinkClicked()"></app-button>
        </div>
    </div>
</div>