.card-container {
    .card {
        .artist-info-container {
            .artist-image {
                width: fit-content;

                margin: auto;

                border-radius: 50%;

                overflow: hidden;
            }

            .genres-container {
                .genre-label {
                    margin-top: 0;
                }
            }
        }

        .artist-album-list-container {
            display: flex;
            flex-wrap: wrap;

            .artist-album {
                width: 100%;
            }
        }
    }
}

@media (min-width: 1800px) {
    .card-container {
        .card {
            .artist-album-list-container {
                .artist-album {
                    width: 50%;
                }
            }
        }
    }
}
