@import "src/assets/scss/variables/colours";

.card-container {
    .card {
        h1 {
            width: 100%;

            color: $primary-foreground-colour;

            text-align: center;
        }
    }
}
