<div class="album-icon-container" (click)="albumIconClicked()">
    <div class="album-art">
        <img src="https://i.scdn.co/image/{{ album.albumImages[0]?.uri }}"><!-- https://i.scdn.co/image/ -->
    </div>
    <div class="album-info">
        <a class="album-link" [routerLink]="['/album', album.id]">{{ album.name }}</a>
        <div class="artist-links">
            <div app-inline-artists-ticker class="artist-links-container" [artists]="album.artists"></div>
        </div>
        <p class="album-release-date">{{ album.releaseDate | date: 'yyyy' }}</p>
    </div>
</div>