@import "src/assets/scss/variables/colours";

.card-container {
    .card {
        .group-info-container {
            min-height: 95px;

            .group-info {
                * {
                    text-align: center;
                }

                h1 {
                    color: $primary-foreground-colour;

                    margin-top: 0;
                    margin-bottom: 10px;

                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                p,
                a {
                    color: $tertiary-foreground-colour;
                }

                a {
                    width: fit-content;

                    margin: 5px auto;

                    display: block;
                }

                .divider {
                    height: 2px;

                    margin-top: 5px;
                }
            }
        }
    }
}
