<div class="card-container">
    <div class="card">
        <app-card-nav-bar [inviteVisible]="true" (inviteClicked)="invitePeopleClicked()"></app-card-nav-bar>
        <div class="group-info-container">
            <app-loading-icon [dimensions]="50" *ngIf="isLoading"></app-loading-icon>
            <div class="group-info" *ngIf="!isLoading && group != null">
                <h1>{{ group.name }}</h1>
                <a [routerLink]="['/user', group.createdBy.username]">{{ group.createdBy.displayName }}</a>
                <p>{{ group.members.length }} members</p>
                <div class="divider"></div>
            </div>
        </div>
        <app-group-suggestion-list [groupId]="groupId" *ngIf="groupId != null"></app-group-suggestion-list>
    </div>
</div>