@import "src/assets/scss/variables/colours";

.group-suggestion-user-rating-container {
    background-color: $tertiary-background-colour;

    padding: 15px;

    border-radius: 5px;

    &.left,
    &.right {
        margin: 15px 0 0 0;
    }

    .rating-comment {
        font-size: 1.25em;
        line-height: 1.5em;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .created-on {
        color: $tertiary-foreground-colour;

        margin-top: 15px;
    }

    .links-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .user-link {
            max-width: calc(100% - 85px);

            margin-top: 5px;

            display: block;
        }

        .action-buttons-container {
            width: 85px;

            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .icon {
                width: 30px;
                height: 30px;

                cursor: pointer;

                &:hover {
                    &.edit-icon {
                        path {
                            stroke: $primary-foreground-colour;
                            fill: $primary-foreground-colour;
                        }
                    }

                    &.delete-icon {
                        path {
                            stroke: $primary-negative-colour-hover;
                            fill: $primary-negative-colour-hover;
                        }
                    }
                }

                svg {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}

@media (min-width: 1400px) {
    .group-suggestion-user-rating-container {
        &.left {
            margin: 15px 7.5px 0 15px;
        }

        &.right {
            margin: 15px 15px 0 7.5px;
        }
    }
}
