@import "src/assets/scss/variables/colours";

.button {
    width: 100%;

    margin-bottom: 0;

    &.loading,
    &:disabled {
        cursor: default;
        pointer-events: none;
    }

    &.loading {
        .text {
            display: none;
        }

        .loading-icon {
            width: 2em;
            height: 2em;

            margin: auto;
            padding: 2px;
        }
    }

    &:disabled {
        background: $secondary-foreground-colour-disabled;
    }
}
