<div class="nav-bar">
    <div class="app-icon white"></div>
    <app-nav-bar-item data-cy="homeItem" [itemData]="homeItem" [active]="homeActive"></app-nav-bar-item>
    <app-nav-bar-item data-cy="searchItem" [itemData]="searchItem" [active]="searchActive"></app-nav-bar-item>
    <app-nav-bar-item data-cy="groupsItem" [itemData]="groupsItem" [active]="groupsActive"></app-nav-bar-item>
    <app-nav-bar-item data-cy="userItem" [itemData]="userItem" [active]="userActive"></app-nav-bar-item>
    <p class="version">V{{ appVersion }}</p>
</div>