@import "variables/colours";
@import "variables/dimensions";
@import "wide-container.scss";

.album-info-container,
.artist-info-container {
    .album-cover,
    .artist-image {
        display: flex;

        img {
            width: 250px;
            height: 250px;

            margin: auto;
        }
    }

    h2,
    h3,
    p {
        text-align: center;
    }

    .artists-container,
    .genres-container {
        display: flex;

        justify-content: center;

        .artist-link,
        .genre-label {
            color: $tertiary-foreground-colour;

            text-decoration: none;

            &:not(:last-child)::after {
                content: ", ";
                margin-right: 3px;
            }
        }

        .artist-link {
            &.disabled {
                cursor: default;

                pointer-events: none;
            }

            &:not(.disabled):hover {
                text-decoration: underline;
            }
        }

        .genre-label {
            margin: 10px 0 5px 0;
        }
    }

    .followers,
    .release-date {
        margin: 5px 0 10px 0;
    }

    .button {
        width: 60%;
        height: 50px;

        padding: 10px;
        margin: auto;
        margin-bottom: 25px;

        display: flex;

        text-decoration: none;

        img {
            width: 40px;
            height: 40px;

            margin-top: 5px;
            margin-right: -40px;
        }

        p {
            margin: auto;

            font-size: 2em;
        }
    }
}
