@import "variables/colours";
@import "form";

.user-form-card {
    background-color: $tertiary-background-colour;

    padding: 10px 0;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;

    overflow-y: auto;

    .user-form-container {
        width: 90%;
        height: fit-content;

        margin: auto;
        padding: 35px 0 10px 0;

        z-index: 2;

        .form-error {
            color: $primary-negative-colour;

            padding: 15px 15px 0 15px;

            display: none;

            font-size: 16pt;
            text-align: center;

            &.visible {
                display: block;
            }
        }

        .form-link {
            width: fit-content;

            margin: 15px auto 0 auto;

            display: block;

            text-align: center;
        }

        .message-container {
            .icon {
                width: 45px;
                height: 45px;

                margin: auto;
            }

            h2 {
                color: $primary-foreground-colour;

                text-align: center;
            }
        }
    }
}

@media (min-width: 1920px) {
    .user-form-card {
        .user-form-container {
            width: 30%;

            margin-top: 40px;
        }
    }
}

@media (min-width: 2560px) {
    .user-form-card {
        .user-form-container {
            margin-top: 50px;
        }
    }
}
