@import "variables/colours";
@import "variables/dimensions";

.card-container {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;

    .card {
        background-color: $primary-background-colour;

        padding: 15px;
        margin-bottom: 5%;

        border-radius: $primary-border-radius;

        position: relative;

        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        transition: opacity 0.5s ease-in-out;

        &.loaded {
            opacity: 1;
        }
    }
}

.error-message {
    height: 250px;

    display: flex;
    align-items: center;

    p {
        color: $tertiary-foreground-colour;

        font-size: 1.75em;
        text-align: center;
    }
}

@media (min-width: 765px) and (max-width: 1024px) {
    .card-container {
        left: 15%;
        right: 15%;
    }
}

@media (min-width: 1024px) and (max-width: 1365px) {
    .card-container {
        left: 17.5%;
        right: 17.5%;
    }
}

@media (min-width: 1365px) and (max-width: 1920px) {
    .card-container {
        left: 20%;
        right: 20%;
    }
}

@media (min-width: 1920px) {
    .card-container {
        top: 2%;
        left: 25%;
        right: 25%;

        .card {
            margin-bottom: 2%;
        }
    }
}
