<div class="card-container group-suggestion-details-card-container">
    <div class="card">
        <app-card-nav-bar [queueVisible]="spotifyUsername != null" (queueClicked)="queueAlbumAsync()"></app-card-nav-bar>
        <div class="group-suggestion-info-container" *ngIf="!isLoading && album != null">
            <div class="album-container">
                <app-album-info [album]="album" [linkDisabled]="false"></app-album-info>
            </div>

            <div class="overall-rating-container">
                <app-group-suggestion-rating [rating]="overallRating" *ngIf="overallRating != null"></app-group-suggestion-rating>
            </div>

            <div class="rate-button-container">
                <app-button [buttonText]="'Rate This'" (click)="rateButtonClicked()" *ngIf="!userHasRatedSuggestion"></app-button>
            </div>
        </div>
        <div class="group-ratings-container">
            <app-group-suggestion-user-rating-list [groupSuggestionRatings]="groupSuggestion.groupSuggestionRatings" 
                *ngIf="!isLoading && groupSuggestion != null && groupSuggestion.groupSuggestionRatings != null"></app-group-suggestion-user-rating-list>

            <div class="error-message"  *ngIf="!isLoading && groupSuggestion == null">
                <p>There has been an error processing your request, please try again</p>
            </div>
        </div>
    </div>
    <app-loading-icon *ngIf="isLoading"></app-loading-icon>
</div>