<div class="card-container group-suggestion-details-card-container">
    <div class="card">
        <app-card-nav-bar></app-card-nav-bar>
        <div class="group-suggestion-info-container" *ngIf="!isLoading">
            <div class="album-container">
                <app-album-info [album]="album" [genres]="genres" [linkDisabled]="false"></app-album-info>
            </div>

            <div class="overall-rating-container">
                <app-group-suggestion-rating [rating]="overallRating" *ngIf="overallRating != null"></app-group-suggestion-rating>
            </div>

            <div class="rate-button-container">
                <app-button [buttonText]="'Rate This'" (click)="rateButtonClicked()"></app-button>
            </div>
        </div>
        <div class="group-ratings-container">
            <app-group-suggestion-user-rating-list [groupSuggestionRatings]="groupSuggestion.groupSuggestionRatings" *ngIf="groupSuggestion != null && groupSuggestion.groupSuggestionRatings != null"></app-group-suggestion-user-rating-list>
        </div>
    </div>
    <app-loading-icon *ngIf="isLoading"></app-loading-icon>
</div>