@import "src/assets/scss/variables/colours";

.group-suggestion-info-container {
    border-bottom: 2px solid $tertiary-foreground-colour;

    .overall-rating-container {
        margin: auto;
    }
}

@media (min-width: 1024px) {
    .group-suggestion-info-container {
        .overall-rating-container {
            width: 80%;
        }
    }
}

@media (min-width: 1920px) {
    .card-container.group-suggestion-details-card-container {
        left: 20%;
        right: 20%;
    }

    .group-suggestion-info-container {
        .overall-rating-container {
            width: 50%;
        }
    }
}
