<div class="card-container group-suggestion-details-card-container">
    <div class="card" [ngClass]="{ 'loaded': dataLoaded }">
        <div class="group-suggestion-info-container">
            <div class="album-container">
                <app-album-info [album]="album" [genres]="genres" [linkDisabled]="false"></app-album-info>
            </div>
            <div class="overall-rating-container">
                <app-group-suggestion-rating [rating]="overallRating"></app-group-suggestion-rating>
            </div>
        </div>
        <div class="group-ratings-container">
            <app-group-suggestion-user-rating-list></app-group-suggestion-user-rating-list>
        </div>
    </div>
</div>