@import "src/assets/scss/variables/colours";

.card-container {
    top: 5%;

    .card {
        padding: 15px;
        margin-bottom: 5%;

        position: relative;

        opacity: 0;

        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        transition: opacity 0.5s ease-in-out;

        &.loaded {
            opacity: 1;
        }
    }
}
