@import "src/assets/scss/variables/colours";

.card-container {
    top: 5%;

    .card {
        padding: 15px;
        margin-bottom: 5%;

        position: relative;

        opacity: 0;

        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        transition: opacity 0.5s ease-in-out;

        &.loaded {
            opacity: 1;
        }
    }
}

@media (min-width: 765px) and (max-width: 1024px) {
    .card-container {
        left: 15%;
        right: 15%;
    }
}

@media (min-width: 1024px) and (max-width: 1365px) {
    .card-container {
        left: 17.5%;
        right: 17.5%;
    }
}

@media (min-width: 1365px) and (max-width: 1920px) {
    .card-container {
        left: 25%;
        right: 25%;
    }
}

@media (min-width: 1920px) and (max-width: 2560px) {
    .card-container {
        left: 30%;
        right: 30%;
    }
}

@media (min-width: 2560px) {
    .card-container {
        left: 30%;
        right: 30%;
    }
}
