<div class="group-suggestion-list-container">
    <div class="group-suggestion-list" *ngIf="groupSuggestions != null && groupSuggestions.length > 0">
        <div app-group-suggestion
            *ngFor="let groupSuggestion of groupSuggestions" 
            [groupSuggestion]="groupSuggestion"></div>
    </div>
    <div class="no-group-suggestions-message" *ngIf="!isLoading && groupSuggestions?.length === 0">
        <p>No Group Suggestions</p>
    </div>
    <div class="error-message" *ngIf="!isLoading && groupSuggestions == null">
        <p>There has been an error processing your request, please try again</p>
    </div>
    <div class="loading-icon-container" *ngIf="isLoading">
        <app-loading-icon [dimensions]="75"></app-loading-icon>
    </div>
</div>