.card-container {
    .card {
        .search-bar-container {
            form {
                .form-group {
                    .input-container {
                        .loading-icon-container {
                            position: absolute;
                            top: 50%;
                            right: 30px;
                        }
                    }
                }
            }
        }
    }
}
