<div class="card-container home-card-container">
    <div class="card">
        <div class="app-icon"></div>
        <app-icon-button [buttonText]="'Random Track'" [buttonIconSource]="'assets/img/button-icons/musical-note.png'" (click)="buttonClick('track')"></app-icon-button>
        <app-icon-button [buttonText]="'Random Album'" [buttonIconSource]="'assets/img/button-icons/vinyl-disc.png'" (click)="buttonClick('album')"></app-icon-button>
        <app-icon-button [buttonText]="'Random Artist'" [buttonIconSource]="'assets/img/button-icons/microphone.png'" (click)="buttonClick('artist')"></app-icon-button>
    </div>
</div>