.card-container {
    height: 320px;

    top: calc(50% - 160px);

    .card {
        background-color: transparent;

        display: block;

        .app-icon {
            width: 250px;
            height: 250px;

            margin: auto;
            margin-bottom: 30px;

            display: none;
        }
    }
}

@media (min-width: 768px) and (min-height: 769px) {
    .card-container {
        height: 600px;

        top: calc(50% - 410px);

        .card {
            .app-icon {
                display: block;
            }
        }
    }
}
