@import "src/assets/scss/variables/colours";

$loading-icon-dimensions: 150px;

.loading-icon {
    width: $loading-icon-dimensions;
    height: $loading-icon-dimensions;

    position: absolute;
    top: calc(50% - (#{$loading-icon-dimensions} / 2));
    left: calc(50% - (#{$loading-icon-dimensions} / 2));

    &:not(.visible) {
        display: none;
    }
}
