@import "src/assets/scss/variables/colours";

.track {
    height: 45px;

    padding: 5px;

    display: flex;

    border-bottom: 1px solid $tertiary-foreground-colour;

    cursor: pointer;

    &:hover {
        background-color: $primary-background-colour-hover;
    }

    div {
        padding: 5px;

        display: flex;
        align-items: center;

        overflow: hidden;

        p {
            margin: 0;

            vertical-align: middle;

            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .track-number {
        width: 25px;

        p {
            width: 100%;

            text-align: center;
        }
    }

    .track-name {
        width: calc(70% - 25px);
    }

    .artists-container {
        width: 0;

        padding: 0;
        margin-left: 5px;
        margin-right: 5px;

        display: none;

        position: relative;

        overflow: hidden;

        .artists-links-container {
            min-width: 100%;
            width: fit-content;
            height: 100%;

            margin: 0;
            padding: 0;

            position: absolute;

            display: flex;

            overflow: hidden;

            white-space: nowrap;

            &:hover {
                -webkit-animation: scrolling 1s linear forwards;
                -moz-animation: scrolling 1s linear forwards;
                -ms-animation: scrolling 1s linear forwards;
                -o-animation: scrolling 1s linear forwards;
                animation: scrolling 1s linear forwards;
            }

            .artist-link {
                min-width: fit-content;

                color: $tertiary-foreground-colour;

                text-decoration: none;

                overflow: hidden;
                text-overflow: ellipsis;

                &:not(:last-child)::after {
                    content: ", ";
                    margin-right: 3px;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        @-webkit-keyframes scrolling {
            0% {
                transform: translateX(0%);
                left: 0%;
            }

            100% {
                transform: translateX(-100%);
                left: 100%;
            }
        }

        @keyframes scrolling {
            0% {
                transform: translateX(0%);
                left: 0%;
            }

            100% {
                transform: translateX(-100%);
                left: 100%;
            }
        }
    }

    .track-duration {
        width: 0;

        display: none;

        p {
            text-align: center;
        }
    }

    .button {
        width: 30%;
        height: 30px;

        padding: 5px;
        margin-bottom: 0;

        display: flex;

        text-decoration: none;

        img {
            width: 20px;
            height: 20px;

            margin-top: 5px;
            margin-right: 5px;
        }

        p {
            margin: auto;
        }
    }
}

@media (min-width: 1024px) and (max-width: 1365px) {
    .track {
        .track-duration {
            width: 10%;

            display: inherit;
        }

        .button {
            width: 20%;
        }
    }
}

@media (min-width: 1365px) and (max-width: 2540px) {
    .track {
        .track-name {
            width: 55%;
        }

        .artists-container {
            width: 25%;
            display: flex;
        }

        .track-duration {
            width: 10%;

            display: inherit;
        }

        .button {
            width: 10%;
        }
    }
}

@media (min-width: 2540px) {
    .track {
        .track-name {
            width: 63%;
        }

        .artists-container {
            width: 25%;
            display: inherit;
        }

        .track-duration {
            width: 7%;

            display: inherit;
        }

        .button {
            width: 10%;
        }
    }
}
