<div class="track">
    <div class="track-number">
        <p>{{ track.trackNumber }}</p>
    </div>

    <div class="track-name">
        <p>{{ track.name }}</p>
    </div>

    <div class="artists-container">
        <div app-inline-artists-ticker class="inline-artists-ticker" [artists]="track.artists"></div>
    </div>

    <div class="track-duration">
        <p>{{ track.duration | date: 'mm:ss' }}</p>
    </div>

    <a class="button" href="https://open.spotify.com/track/{{ track.id }}" target="new">
        <img src="assets/img/logos/spotify-logo.png">
        <p>Open</p>
    </a>
</div>