@import "src/assets/scss/variables/colours";

.track {
    height: 45px;

    padding: 5px;

    display: flex;

    border-bottom: 1px solid $tertiary-foreground-colour;

    cursor: pointer;

    &:hover {
        background-color: $primary-background-colour-hover;
    }

    div {
        padding: 5px;

        display: flex;
        align-items: center;

        overflow: hidden;

        p {
            margin: 0;

            vertical-align: middle;

            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .track-number {
        width: 25px;

        p {
            width: 100%;

            text-align: center;
        }
    }

    .track-name {
        width: calc(70% - 25px);
    }

    .artists-container {
        width: 0;

        padding: 0;
        margin-left: 5px;
        margin-right: 5px;

        display: none;

        position: relative;

        overflow: hidden;

        .inline-artists-ticker {
            width: 100%;
            height: 100%;

            margin: 0;
            padding: 0;

            overflow: hidden;
        }
    }

    .track-duration {
        width: 0;

        display: none;

        p {
            text-align: center;
        }
    }

    .button {
        width: 30%;
        height: 30px;

        padding: 5px;
        margin-bottom: 0;

        display: flex;

        text-decoration: none;

        img {
            width: 20px;
            height: 20px;

            margin-top: 5px;
            margin-right: 5px;
        }

        p {
            margin: auto;
        }
    }
}

@media (min-width: 1024px) and (max-width: 1365px) {
    .track {
        .track-duration {
            width: 10%;

            display: inherit;
        }

        .button {
            width: 20%;
        }
    }
}

@media (min-width: 1365px) and (max-width: 2540px) {
    .track {
        .track-name {
            width: 55%;
        }

        .artists-container {
            width: 25%;
            display: flex;
        }

        .track-duration {
            width: 10%;

            display: inherit;
        }

        .button {
            width: 10%;
        }
    }
}

@media (min-width: 2540px) {
    .track {
        .track-name {
            width: 63%;
        }

        .artists-container {
            width: 25%;
            display: inherit;
        }

        .track-duration {
            width: 7%;

            display: inherit;
        }

        .button {
            width: 10%;
        }
    }
}
