<div class="album-info-container">
    <div class="album-cover">
        <img src="{{ album.coverArtUrl }}" alt="{{ album.name }}">
    </div>
    <a class="album-name" [routerLink]="['/album', album.id]" [ngClass]="{'disabled': linkDisabled}">{{ album.name }}</a>
    <div class="artists-container">
        <a *ngFor="let artist of album.artists" class="artist-link" [routerLink]="['/artist', artist.id]"
            [ngClass]="{'disabled': artist.id == VARIOUS_ARTISTS_CONST}">{{ artist.name }}</a>
    </div>
    <div class="genres-container">
        <p *ngFor="let genre of genres" class="genre-label">{{ genre | genreFormatter }}</p>
    </div>
    <p class="release-date">{{ album.releaseDate | date: 'MMMM yyyy' }}</p>
    <a class="button" href="{{ album.url }}" target="new"><img src="assets/img/logos/spotify-logo.png">
        <p>Open</p>
    </a>
</div>