@import "src/assets/scss/variables/colours";

.group-item-user-rating-container {
    background-color: $tertiary-background-colour;

    padding: 15px;

    border-radius: 5px;

    &.left,
    &.right {
        margin: 15px 0 0 0;
    }

    .rating-comment {
        line-height: 1.5em;
    }

    .user-link {
        margin-top: 15px;

        display: block;
    }
}

@media (min-width: 765px) {
    .group-item-user-rating-container {
        &.left {
            margin: 15px 7.5px 0 15px;
        }

        &.right {
            margin: 15px 15px 0 7.5px;
        }
    }
}
