.search-results-container {
    .search-results {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        div {
            width: 50%;
        }
    }
}

@media (min-width: 1920px) {
    .search-results-container {
        .search-results {
            div {
                width: 33%;
            }
        }
    }
}
