@import "src/assets/scss/variables/colours";

.search-results-container {
    .search-results {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        div {
            width: 50%;
        }
    }

    .no-results-found-message {
        p {
            color: $tertiary-foreground-colour;

            padding: 20px 0;

            font-size: 1.75em;
            text-align: center;
        }
    }
}

@media (min-width: 1920px) {
    .search-results-container {
        .search-results {
            div {
                width: 33%;
            }
        }
    }
}
