$scrollbar-thumb-colour: #8b8d91;
$scrollbar-thumb-hover-colour: #727171;

$background-gradient-primary-colour: #112d5f;
$background-gradient-secondary-colour: #8413e0;

$primary-background-colour: #393e46;
$primary-background-colour-hover: darken($primary-background-colour, 5%);

$tertiary-background-colour: #2c3035;
$tertiary-background-colour-hover: darken($tertiary-background-colour, 5%);

$primary-foreground-colour: #d9d9da;

$secondary-foreground-colour: #355c7d;
$secondary-foreground-colour-hover: darken($secondary-foreground-colour, 10%);
$secondary-foreground-colour-disabled: darken($secondary-foreground-colour, 20%);

$tertiary-foreground-colour: #adadad;

$primary-positive-colour: #357d3e;

$primary-negative-colour: #a52e1d;
$primary-negative-colour-hover: darken($primary-negative-colour, 5%);

$nav-bar-foreground-colour-active: #459deb;
