$background-gradient-primary-colour: #112d5f;
$background-gradient-secondary-colour: #8413e0;

$primary-background-colour: #393e46;
$primary-background-colour-hover: #2e3238;

$primary-foreground-colour: #d9d9da;
$secondary-foreground-colour: #355c7d;
$secondary-foreground-colour-hover: #1f3c54;
$tertiary-foreground-colour: #adadad;