@import "colours";

$primary-border-radius: 5px;
$secondary-border-radius: 3px;

$list-item-height: 45px;
$list-item-padding: 5px;
$list-item-border-bottom: 1px solid $tertiary-foreground-colour;

$nav-bar-height: 60px;
$nav-bar-width: 20%;
$nav-bar-width-desktop: 375px;
$nav-bar-tablet-breakpoint: 1025px;

$status-checker-dimensions: 25px;
