<div class="rating-container" [ngClass]="{'embedded': embedded}">
    <p class="overall-rating">Overall: {{ rating.overallRating }}/10</p>
    <div class="category-ratings-container">
        <div class="category-rating">
            <p class="rating-title">Lyrics</p>
            <p class="rating">{{ rating.lyricsRating }}/10</p>
        </div>
        <div class="category-rating">
            <p class="rating-title">Vocals</p>
            <p class="rating">{{ rating.vocalsRating }}/10</p>
        </div>
        <div class="category-rating">
            <p class="rating-title">Instrumentals</p>
            <p class="rating">{{ rating.instrumentalsRating }}/10</p>
        </div>
        <div class="category-rating">
            <p class="rating-title">Composition</p>
            <p class="rating">{{ rating.compositionRating }}/10</p>
        </div>
    </div>
</div>
