<div class="group-suggestion-user-rating-list-container" *ngIf="groupSuggestionRatings != null && groupSuggestionRatings.length > 0">
    <div class="ratings-left">
        <app-group-suggestion-user-rating *ngFor="let rating of ratingsLeft" [groupSuggestionRating]="rating" [position]="'left'"></app-group-suggestion-user-rating>
    </div>
    <div class="ratings-right">
        <app-group-suggestion-user-rating *ngFor="let rating of ratingsRight" [groupSuggestionRating]="rating" [position]="'right'"></app-group-suggestion-user-rating>
    </div>
</div>

<div class="no-group-suggestion-user-ratings-message" *ngIf="groupSuggestionRatings == null || groupSuggestionRatings.length === 0">
    <p>No Ratings Yet</p>
</div>
