@import "src/assets/scss/variables/colours";
@import "src/assets/scss/variables/dimensions";

.groups-list-item-container {
    height: $list-item-height;

    padding: $list-item-padding;

    display: flex;
    align-items: center;

    border-bottom: $list-item-border-bottom;

    cursor: pointer;

    &:hover {
        background-color: $primary-background-colour-hover;
    }

    .group-link-container {
        // width: 60%;
        width: 100%;

        .group-link {
            color: $primary-foreground-colour;

            display: block;

            font-size: 1.25em;

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .user-link-container {
        display: none;
    }

    .members-count {
        color: $tertiary-foreground-colour;

        display: none;
    }
}

@media (min-width: 730px) {
    .groups-list-item-container {
        .group-link-container {
            width: 80%;
        }

        .members-count {
            width: 20%;

            display: block;
        }
    }
}

@media (min-width: 1024px) {
    .groups-list-item-container {
        .group-link-container {
            width: 60%;
        }

        .user-link-container {
            width: 20%;

            display: block;
        }
    }
}
