<div class="card-container">
    <div class="card loaded">
        <div class="user-info-container">
            <h1>Your Groups</h1>
            <div class="user-info">
                <p>Here you can find all of the public and private groups you are a member of or you can create a group yourself.</p>
            </div>
            <div class="action-button-container">
                <app-button [buttonText]="'Create a Group'" (click)="createNewGroupClicked()"></app-button>
            </div>
            <div class="divider"></div>
        </div>
        <div class="groups-list-container">
            <app-loading-icon [dimensions]="50" *ngIf="isLoading"></app-loading-icon>
            <div class="negative-message" *ngIf="groups.length === 0 && !isLoading">
                <h2>You are not a member of any groups</h2>
            </div>
            <div app-groups-list-item *ngFor="let group of groups" [group]="group"></div>
        </div>
    </div>
</div>