<div class="card-container">
    <div class="card loaded">
        <div class="user-info-container">
            <h1>Your Groups</h1>
            <div class="user-info">
                <p>Here you can find all of the public and private groups you are a member of or you can create a group yourself.</p>
            </div>
            <div class="action-button-container">
                <app-button [buttonText]="'Create a Group'" (click)="createNewGroupClicked()"></app-button>
            </div>
            <div class="divider"></div>
        </div>
        <div class="groups-list-container">
            <app-loading-icon [dimensions]="50" *ngIf="isLoading"></app-loading-icon>
            <div class="no-groups-message" *ngIf="groups != null && groups.length === 0 && !isLoading">
                <p>You are not a member of any groups</p>
            </div>
            <div class="error-message" *ngIf="!isLoading && groups == null">
                <p>There has been an error processing your request, please try again</p>
            </div>
            <div class="groups-list" *ngIf="!isLoading && groups != null">
                <div app-groups-list-item *ngFor="let group of groups" [group]="group"></div>
            </div>
        </div>
    </div>
</div>