@import "src/assets/scss/variables/colours";

.card-container {
    .card {
        .user-info-container {
            h1 {
                margin-bottom: 7.5px;
            }

            .user-info {
                margin: 0 7.5px;

                p {
                    color: $tertiary-foreground-colour;
                }
            }

            .action-button-container {
                width: 100%;

                margin-top: 15px;
            }

            .divider {
                width: 100%;
                height: 2px;

                margin: 15px auto 0 auto;
            }
        }

        .groups-list-container {
            min-height: 75px;

            position: relative;

            .groups-list {
                :last-child {
                    ::ng-deep .groups-list-item-container {
                        border-bottom: none;
                    }
                }
            }

            .no-groups-message {
                width: 100%;
                height: 150px;

                display: flex;
                align-items: center;

                p {
                    width: 100%;

                    color: $tertiary-foreground-colour;

                    font-size: 1.75em;
                    text-align: center;
                }
            }
        }
    }
}
