.card-container {
    position: absolute;
    top: calc(50% - 100px);
    left: 5%;
    right: 5%;

    .card {
        background-color: transparent;

        h2 {
            font-size: 2em;

            text-align: center;
        }
    }
}

@media (min-width: 1920px) {
    .card-container {
        left: 35%;
        right: 35%;
    }
}
